/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
nav{
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(3, 45, 8, 1) 32%, rgba(99, 255, 0, 1) 100%) ;
    width:100%;
    transition: 2s linear;
    position: fixed;
    overflow-y: hidden;
}


.navbar-brand {
    font-family: "Platypi", serif;
    font-weight: 400;
    display: flex;
    width:150px; 
   
    height: auto; 
   
}

.logo-icon a{
    text-decoration: none;
}
#good {
   font-size: 22px;
   color:white;
   overflow-y: hidden;

}
#health {
    font-size: 22px;
    color:white;
    overflow-y: hidden;
 }
.navbar-brand img {
    width: 100px;
    position: absolute;
    margin-top: -23px;
    margin-left: -23px;
    height: auto; 
}
 nav button{
    width: 50px; 
    height: 40px; 
    padding: 6px 2px; 
    border-radius: 5px; 
    font-size: 12px; 
    text-align: center;
    background-color: white;
    cursor:pointer;
    overflow-y: hidden;
    font-weight: 500;
}

nav button img {
    width: 100%; 
    height: auto;
}

nav button:hover{
    background-color: rgb(171, 215, 164);

}
nav button span::after{
    height:100%;
    width:0%;
    content:'';
    background-color: black;
    position: absolute;
    top:0;
    right:0;
    color:green;
    transition: 0.3;
}
#mynavbar .nav-item a {
    font-size: 1.5vw;
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "Platypi", serif;
    font-weight: 500;
   
}

#mynavbar .nav-item:hover a, #mynavbar .nav-item li.active a {
    width:100%;
    height:100%;
    border-bottom: 2px solid white;
    color:white;
    border-radius: 15px;
}
.navbar-toggler{
    background-color: white;
    outline: 2px solid green;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-toggler:hover{
    background-color: rgb(225, 235, 225);
    margin-bottom: 5px;
}
.btn {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.btn i {
    font-size: 16px;
    color:white 
}

.btn span{
    margin: 0;
    color:white;
}
.btn:hover{
    background-color: green;
}
#login img{
    width:30px;
    height:27px;
}
#login img:hover{
    width:30px;
    height:27px;
    border-radius: 50%;
    background-color: red;
}
 .container .product{
    margin-top:20vh;
    border: 2px solid black;
    box-shadow: 0 0 20px black;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 241, 190);
    animation:background-change 5s infinite;
    color:black;
    height:auto;
    margin-bottom: 10vh;
   
}
@keyframes background-change{
    0% {
        border-color: rgba(171, 239, 168, 0.6);
    }
    50% {
        border-color: rgb(214, 240, 165);
    }
}

.container .product h1{
    overflow-y: hidden;
    font-family: "Platypi", serif;
    text-transform: capitalize;
}
.container .product .detail p strong{
     font-size: 20px;
}
.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    padding:20px;
    padding-top: 160px;
}
.container  form span{
    text-transform: uppercase;
    display: block;
    padding-bottom: 5px;
}

.container .product form input[type="text"],
.container .product form select {
    width:80%;
    border-radius: 10px;
    padding: 10px;
    border:1px solid black;
    color:rgb(12, 12, 12);
    text-transform: uppercase;
    outline: none;
    border: none;
    text-decoration: none;
   
}
.container form .flexbox{
    display:flex;
    gap:10px;
}
.container form .flexbox .inputbox{
    flex:1 1 150px;
}




.container .product form input[type="submit"]:hover {
    letter-spacing: 2px;
    opacity:0.8;
    
}
.container .card-container {
    margin: 0 auto; /* Center the container horizontally */
    margin-bottom: -150px;
    height: 250px;
    width: 400px;
}

.container .card-container .front{
    /* position: absolute; */
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(45deg, green,rgb(20, 20, 20));
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    padding:20px;
    text-transform: uppercase; 
   
}
.container .card-container .front .image{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.container .card-container .front .image img{
    height:50px;
}
.container .card-container .front  .card-number-box{
padding:30px 0;
font-size: 22px;
text-transform: uppercase; 
}
.container .card-container .front .card-holder-name{
    text-transform: uppercase;
}
.container .card-container .front .flexbox{
    display:flex;
     text-transform: uppercase; 
   
}
.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
   
}
.container .card-container .front .flexbox .box:nth-child(2) span{
    display: flex;
    flex-direction: row;
}
.container .card-container .front .flexbox .box:nth-child(2) .expiration{
    display: flex;
    flex-direction: row;
}
.container .card-container .front .flexbox .box{
   font-size: 15px;
   text-transform: uppercase; 
  
}
/* .container .card-container .back{
    top:0px;
    left:0;
    height:100%;
    width:100%;
    background: linear-gradient(45deg, green,white);
    border-radius: 5px;
    padding:20px 0;
} */

/* @media (max-width: 992px) { 
    #mynavbar .nav-item a{
       
        color: white; 
    }
} */
@media screen and (max-width:400px) {
    .container .card-container {
        width:200px;
    }
    
}

